.control-instruction {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
}
.hotkey {
  display: inline-block;
  background-color: #f0f0f0;
  font-family: monospace;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 0 5px;
}
