@import "vendor";

body {
  margin: 0;
  overflow: hidden;
}
#app {
  min-height: 100vh;
}
.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.no-select {
  @include user_select(none);
}
footer {
  /* 設定footer的高度 */
  height: 4em;
  box-sizing: border-box;
  /* 設定footer絕對位置在底部 */
  position: absolute;
  bottom: 0;
  /* 展開footer寬度 */
  width: 100%;
}

.popup-window {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0 1em 1em;
  margin-bottom: 1em;
  background: rgba(255, 255, 255, 0.9);
}
