@import "vendor";

body {
  margin: 0;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.no-select {
  @include user_select(none);
}
footer {
  /* 設定footer的高度 */
  height: 40px;
  box-sizing: border-box;
  /* 設定footer絕對位置在底部 */
  position: absolute;
  bottom: 0;
  /* 展開footer寬度 */
  width: 100%;
}
