$Grounds: (
  0: "\2751"
);
$Blocks: (
  0: "\250E",
  1: "\2516",
  2: "\2512",
  3: "\251A",
  4: "\2501",
  5: "\2503",
  6: "\01F332"
);
$Items: (
  0: "\25CE"
);

@mixin symbol($symbol) {
  content: "#{$symbol}";
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
}

@each $id, $symbol in $Grounds {
  .editing {
    &.symbol-Grounds-#{$id}:hover::before {
      @include symbol($symbol);
    }
  }
}

@each $id, $symbol in $Blocks {
  .editing {
    &.symbol-Blocks-#{$id}:hover::before {
      @include symbol($symbol);
    }
  }
}

@each $id, $symbol in $Items {
  .editing {
    &.symbol-Items-#{$id}:hover::before {
      @include symbol($symbol);
    }
  }
}
