$Grounds: (
  0: "",
  1: "\0488"
);
$Blocks: (
  0: "\250E",
  1: "\2516",
  2: "\2512",
  3: "\251A",
  4: "\2501",
  5: "\2503",
  6: "\01F332",
  7: "\1f4bc"
);
$Items: (
  0: "\2AA7",
  1: "\25CE"
);

@function is_url($symbol) {
  @return str-length($symbol) > 2;
}

@mixin symbol($symbol) {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
}

@mixin symbol_content($symbol) {
  @include symbol($symbol);
  content: "#{$symbol}";
}

@mixin symbol_url($symbol) {
  @include symbol($symbol);
  content: "";
  background-image: url("#{$symbol}");
  background-size: 100% 100%;
}

@each $id, $symbol in $Grounds {
  .editing {
    &.symbol-0-#{$id}:hover::before {
      @if (is_url($symbol)) {
        @include symbol_url($symbol);
      } @else {
        @include symbol_content($symbol);
      }
    }
  }
}

@each $id, $symbol in $Blocks {
  .editing {
    &.symbol-1-#{$id}:hover::before {
      @if (is_url($symbol)) {
        @include symbol_url($symbol);
      } @else {
        @include symbol_content($symbol);
      }
    }
  }
}

@each $id, $symbol in $Items {
  .editing {
    &.symbol-2-#{$id}:hover::before {
      @if (is_url($symbol)) {
        @include symbol_url($symbol);
      } @else {
        @include symbol_content($symbol);
      }
    }
  }
}
