@import "symbols";

#world {
  align-self: self-start;
  justify-self: center;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px inset;

  &.editing {
    border-top: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
  }

  .tile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    position: relative;

    &.editing {
      border-bottom: 1px solid #f0f0f0;
      border-right: 1px solid #f0f0f0;

      &.replace {
        cursor: none;
      }
    }

    .symbol {
      &.face-north {
        transform: rotate(-90deg);
      }
      &.face-east-north {
        transform: rotate(-45deg);
      }
      &.face-east {
        transform: rotate(0deg);
      }
      &.face-east-south {
        transform: rotate(45deg);
      }
      &.face-south {
        transform: rotate(90deg);
      }
      &.face-west-south {
        transform: rotate(135deg);
      }
      &.face-west {
        transform: rotate(180deg);
      }
      &.face-west-north {
        transform: rotate(225deg);
      }
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}
